body {
    background-color: #454545;
    color: aliceblue;
    display: flex;
}

.login-Main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #f0f8ff;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    background-color: #262626;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.login-Picture {
    justify-content: center;
    border-radius: 10px;
}

.login-Form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.login-Logo {
    width: 10em;
    height: 10em;
}

.main-body {
    display: flex;
    align-items: center;
    justify-content: center;
}
